[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = ["test_*.py"]
python_classes = ["Test*"]
python_functions = ["test_*"]
env_file = [".env.test"]
asyncio_default_fixture_loop_scope = "function"
asyncio_mode = "auto"

